<h1>Create a new post</h1>
<script>
    $('textarea').keyup(function() {
            var length = $(this).val().length;
            var length = 144-length;
            $('#charLimit').text(length);
    });
</script>
<form>
    <div class="form-group">
        <label>New Post</label>
        <textarea class="form-control" rows="3" id="comment" ng-model="post.content" maxlength="144"></textarea>
        <span id="charLimit" ng-model="word_count">144 characters limit</span>
    </div>
    <div class="form-group">
        <label>userMentions</label>
        <textarea class="form-control" rows="3" id="comment" ng-model="post.userMentions"></textarea>
    </div>
    <input type="button" class="btn btn-primary" value="Add" ng-click="save()"></input>
    <a class = "btn btn-default" href="/#/"> No, Go Back</a>
</form>
</div>