<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>DopplerTwitter Home Page</h1>
    <a class='button' href="/#/createPost">Add a Post</a>
    <ul>
        <li ng-repeat='post in Posts'>
            ID: {{post._id}}<br>
            User: {{post.author}}<br>
            Content: {{post.content}}
            <a href="/#/post/{{post._id}}">Edit</a>
            <input type="button" class="glyphicon glyphicon-check" value="Delete" ng-click="delete(post._id)"></input><br>
            Likes : {{post.favorited}}
            <input type="button" class="glyphicon glyphicon-heart" value="Add" ng-click="like(post._id, post.favorited)"></input>
            <br>
        </li>
    </ul>
    <h2>Follow these people</h2>
    <ul>
        <li ng-repeat='user in Users'>
            {{user.name}}
        </li>
    </ul>
    </body>
</html>

