<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>DopplerTwitter Home Page</h1>
    <a class='button' href="/#/createPost">Add a Post</a>
    <ul>
        <li ng-repeat='post in Posts'>
            ID: {{post._id}}<br>
            User: {{post.author}}<br>
            Content: {{post.content}}
            <a href="/#/post/{{post._id}}">Edit</a>
            <a href="/#/post/delete/{{post._id}}">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
            <br>    
            Likes : {{post.favorited}}
            <input type="button" class="glyphicon glyphicon-heart" value="Add" ng-click="like(post._id, post.favorited)"></input>
            <br>
            <a href="/#/post/reply/{{post._id}}">Reply</a><br>
            Replies: <br>
            <ul>
                <li ng-repeat = 'reply in post.replies'>
                        ID: {{reply._id}}<br>
                        User: {{reply.author}}<br>
                        Content: {{reply.content}}
                        <a href="/#/post/{{reply._id}}">Edit</a>
                        <a href="/#/post/delete/{{reply._id}}">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                        <br>    
                        Likes : {{reply.favorited}}
                        <input type="button" class="glyphicon glyphicon-heart" value="Add" ng-click="like(reply._id, reply.favorited)"></input>
                        <br>
                        <a href="/#/post/reply/{{reply._id}}">Reply</a><br>
                        Replies: <br>
                </li>
            </ul>

        </li>
    </ul>
    <h2>Follow these people</h2>
    <ul>
        <li ng-repeat='user in Users'>
            {{user.name}}
        </li>
    </ul>
    </body>
</html>

