<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <nav id=naviBar class="navbar navbar-expand-md fixed-top navbar-light bg-light justify-content-between">
            <div class="container-fluid">
                <a class="navbar-brand h1" href="/#/"><i class="fab fa-twitter">DopplerTwitter</i></a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item active">  
                    <a class='btn btn-primary' href="/#/createPost"><i class="fas fa-plus"></i></a>
                  </li>
                </ul>
              </div>

            <a href="/#/viewnotification/{{post.author}}"><i class="fas fa-bell"></i></a>
            <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" ng-model="username" placeholder="Enter Username" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" ng-click='search(username)'>Search</button>
            </form>
            </div>
            
        </nav>
    <body>
    <div id="postSection" class="container-fluid">
    <ul>
        <h3>Current Posts</h3>
        <div class="container-fluid">
            <li ng-repeat='post in Posts'>
                ID: {{post._id}}<br>
                User: {{post.author}}<br>
                Content: {{post.content}}
                <a href="/#/post/{{post._id}}">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="/#/post/delete/{{post._id}}">
                    <i class="fas fa-trash-alt"></i>
                </a>
                <br>    
                Likes : {{post.favorited}}
                <button type="submit" class="fas fa-heart" value="Add" ng-click="like(post._id, post.favorited)"></button>
                <br>
                <a href="/#/post/reply/{{post._id}}"><i class="fas fa-comment-dots"></i></a><br>
                Replies: <br>
                <ul>
                    <li ng-repeat = 'reply in post.replies'>
                            ID: {{reply._id}}<br>
                            User: {{reply.author}}<br>
                            Content: {{reply.content}}
                            <a href="/#/post/{{reply._id}}"><i class="fas fa-edit"></i></a>
                            <a href="/#/post/delete/{{reply._id}}">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                            <br>    
                            Likes : {{reply.favorited}}
                            <button type="submit" class="fas fa-heart" value="Add" ng-click="like(reply._id, reply.favorited)"></button>
                            <br>
                            <a href="/#/post/reply/{{reply._id}}"><i class="fas fa-comment-dots"></i></a><br>
                            Replies: <br>
                    </li>
                </ul>
                UserMentions: {{post.userMentions}}
            </li>
        </div>
    </ul>
    </div>
    <div class = "container-fluid">
        <h4>Search Results</h4>
        <ul>
            <li ng-repeat='query in user_query'>
                    ID: {{query._id}}<br>
                    User: {{query.author}}<br>
                    Content: {{query.content}}
                    <a href="/#/post/{{query._id}}"><i class="fas fa-edit"></i></a>
                    <a href="/#/post/delete/{{query._id}}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    <br>    
                    Likes : {{query.favorited}}
                    <button type="submit" class="fas fa-heart" value="Add" ng-click="like(query._id, query.favorited)"></button>
                    <br>
                    <a href="/#/post/query/{{query._id}}"><i class="fas fa-comment-dots"></i></a><br>
                    Replies: <br>
            </li>
        </ul>
    </div>

    <h2>Follow these people</h2>
    <ul>
        <li ng-repeat='user in Users'>
            {{user.name}}
        </li>
    </ul>
    </body>
</html>

