<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    
    <body>
            <nav id=naviBar class="navbar navbar-expand-md fixed-top navbar-light">
                    <div class="container-fluid">
                        <a class="navbar-brand h1" href="/#/"><i class="fab fa-twitter">DopplerTwitter</i></a>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                          <li class="nav-item active">  
                            <a class='btn btn-primary' href="/#/createPost">Add a Post</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                </nav>
        <h2>Edit your post</h2>
        <h4>ID: {{post._id}}</h4>
        <div class="form-group">
                <label>post</label>
                <textarea class="form-control" rows="3" id="comment" ng-model="post.content" maxlength="144"></textarea>
                <span id="charLimit" ng-model="word_count">144 characters limit</span>
            </div>
            <div class="form-group">
                <label>userMentions</label>
                <input class="form-control" ng-model="post.userMentions"></input>
            </div>
            <input type="button" class="btn btn-primary" value="Update" ng-click="edit()"></input>
            <a class = "btn btn-default" href="/#/"> No, Go Back</a>
    </body>
</html>