<h3>Register page</h3>
<form>
<label>Name</label>
<input type="text" class="form-control" placeholder="Name" ng-model="user.name" id="name" name="name">
<label>Username</label>
<input type="text" class="form-control" placeholder="Username" ng-model="user.username" id="username" name="username">
<label>Password</label>
<input type="password" class="form-control" placeholder="Password" ng-model="user.password" id="password" name="password">
<label>Confirm Password</label>
<input type="password" class="form-control" placeholder="confimrpassword" ng-model="user.confirmpassword" id="confirmpassword" name="password1">
<label>Email</label>
<input type="email" class="form-control" placeholder="Email" ng-model="user.email" id="email" name="email">
<button type="submit" class="btn btn-default" ng-click="submit()">Register</button>
</form>
<p>
    Have account? <a href="/#/login"> click here to login</a>
</p>